{{#if clashTask}}
  <h4>Clashes</h4>

  {{#each clashTask as |task|}}
    <ul>
      <li><h4>{{task.title}}</h4>
      <p>On {{moment task.scheduledStartDateTime format="dddd, DD MMMM YYYY"}}</p>
      <p>@ {{moment task.scheduledStartDateTime format="HH:mm"}} - {{moment task.scheduledEndDateTime format="HH:mm"}}</p>
      </li>
    </ul>
  {{/each}}

  {{else}}
  <h4>No Clashes!</h4>

{{/if}}

<h4>Form to Post</h4>
  <form action="/task/add" method="post">
    <input type="text" name="title" placeholder="{{data.title}}" value="{{data.title}}">
    <input type="text" name="scheduledStartDateTime" placeholder="{{data.scheduledStartDateTime}}" value="{{data.scheduledStartDateTime}}">
    <input type="text" name="scheduledEndDateTime" placeholder="{{data.scheduledEndDateTime}}" value="{{data.scheduledEndDateTime}}">
    <button class="butt">Save</button>
  </form>
